<br>
<br>
<br>

<div class="container">

<div class="d-flex flex-row bd-highlight mb-3">

<div class="form-froup row" style="width: 60%;">

    <label class="col-sm-4 col-form-label">First Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="firstName"
        placeholder="Enter first Name">
    </div><br><br>
    <br>
    <!---<label class="col-sm-4 col-form-label">Date of joining</label>
    <div class="col-sm-8">
        <input type="date"  [(ngModel)]="DateOfJoining">
    </div>-->
    <label class="col-sm-4 col-form-label">Last Name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="lastName"
        placeholder="Enter last Name">
    </div><br><br>
    <br>
    <label class="col-sm-4 col-form-label">User Type</label>
    <div class="col-sm-8">
        <select class="form-control" [(ngModel)]="usertype">
            <option>--Select--</option>
            <option *ngFor="let names of usertypeList">
                {{names.account_name}}
            </option>
            </select>
    </div><br><br>
    <br>
    <label class="col-sm-4 col-form-label">User name</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" [(ngModel)]="username"
        placeholder="Enter User name">
    </div><br><br>
    <br>
    <label class="col-sm-4 col-form-label">Password</label>
    <div class="col-sm-8">
        <input type="password" class="form-control" [(ngModel)]="password"
        placeholder="Enter password">
    </div><br><br>
    <br>

    <!--<label class="col-sm-4 col-form-label">Photo</label>   
<div class="col-sm-8">
<img [src]=PhotoFilePath height="250px;" width="200px;" >
<input type="file" (change)="uploadPhoto($event)" class="mt-2"/>-->
</div>
</div>


<button (click)="addEmployee()" *ngIf="users.UserId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateEmployee()" *ngIf="users.UserId!=0" class="btn btn-primary">
    Update
    
</button>
</div>