<br>
<br>
<br>
<div class="container">
    
       <div class="row">
                <div class="col-sm-12">
                    
                  <div class="row">
                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>User Id&nbsp;:</b></p>
                   <p class="col-sm-8">{{users.UserId}}</p>
               </div>
               <div class="row">
                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>First Name&nbsp;:</b></p>
                   <p class="col-sm-8">{{users.firstName | titlecase}}</p>
               </div>
               <div class="row">
                    <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Last Name&nbsp;:</b></p>
                   <p class="col-sm-8">{{users.lastName | titlecase}}</p>
               </div>
               <div class="row">
                <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>User Type&nbsp;:</b></p>
               <p class="col-sm-8">{{users.usertype | titlecase}}</p>
           </div>
           <div class="row">
            <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Username&nbsp;:</b></p>
           <p class="col-sm-8">{{users.username | titlecase}}</p>
       </div>
  </div>