<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Skill Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" 
        placeholder="Enter Skill Name" [(ngModel)]="SkillName">
    </div>
</div><br>
<div class="form-froup row" *ngIf="activeemp">

    <label class="col-sm-2 col-form-label">Employee Name</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="employee">
            <option>--Select--</option>
            <option *ngFor="let names of EmployeeList">
                {{names.username}}
            </option>
            </select>
    </div>
</div>
<div class="form-froup row" *ngIf="!activeemp">

    <label class="col-sm-2 col-form-label">Percentage</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" 
        placeholder="Enter percentage" [(ngModel)]="percentage"> 
    </div>
    <div class="col-sm-4" style="align-items: left;">
        %
    </div>
</div>

<button (click)="addskill()" *ngIf="skill.SkillId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateskill()" *ngIf="skill.SkillId!=0" class="btn btn-primary">
    Update
</button>